@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
*{
    margin: 0px; padding: 0px; box-sizing: border-box;
}
body{
    font-family: Nunito;
    font-weight: 300;
    color: #444;
}
header{
    height: 120px;
    background-color: #f9f9f9;
}
nav{
    height: 60px;
    text-align: center;
}
    /* ## menu ## */
    nav a {
            text-decoration:none;
            color: #444;
            /*margin: 0px 25px;*/
            padding: 18px 30px;
            display: inline-block;
            border-bottom: 3px solid #fff;
            transition: .3s;
    }
    nav a:hover{
        border-bottom: 3px solid #86f4e9;
    }

main{
    min-height: 550px;
}
footer{
    height: 180px;
    background-color: #f9f9f9;
}