@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
*{ margin: 0px; padding: 0px; box-sizing: border-box; }
body{
    font-family: Nunito, sans-serif;
    color: #707070;
}
header{
    height: 110px;
    border-top: 8px solid #E16D65;
    display: flex;
}
    header #top{
        width: 900px;
        margin: auto;
        display: flex;
        justify-content: space-between; /* i - d */
    }
    header #top a{
        text-decoration: none;
    }
    header #marca{
        color: #E16D65;
        font-size: 20px;
        font-weight: 600; /* bold */
        padding: 20px 30px 20px 0px;
    }
    #top nav{
        display: flex;
        line-height: 40px;
    }
    #top nav a{
        padding: 20px 0px 20px 30px;
        font-size: 16px;
        color: #707070;
    }
    #top nav a:hover{
        color: #E16D65;
    }

    /*### HERO  ###*/
    #hero{
        height: 350px;
    }
    /*### FIN HERO ###*/