@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
*{ margin: 0px; padding: 0px; box-sizing: border-box; }
body{
    font-family: Nunito, sans-serif;
    color: #707070;
}
header{
    height: 110px;
    border-top: 8px solid #E16D65;
    display: flex;
}
    header #top{
        width: 900px;
        margin: auto;
        display: flex;
        justify-content: space-between; /* i - d */
    }
    header #top a{
        text-decoration: none;
    }
    header #marca{
        color: #E16D65;
        font-size: 20px;
        font-weight: 600; /* bold */
        padding: 20px 30px 20px 0px;
    }
    #top nav{
        display: flex;
        line-height: 40px;
    }
    #top nav a{
        padding: 20px 0px 20px 30px;
        font-size: 16px;
        color: #707070;
    }
    #top nav a:hover{
        color: #E16D65;
    }

    /*### HERO  ###*/
    #hero{
        height: 350px;
        background-image: url(../imagenes/pink-desk.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    /*### FIN HERO ###*/

    /*### MAIN ###*/

    main{
        width: 900px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        min-height: 560px; /* soólo en caso que algún main
                            en otra página tenga elementos con float */
    }
        h1{
            width: 100%;
            font-size: 20px;
        }
        article{
            width: 400px;
            padding: 20px;
        }
            h2{
                font-size: 16px;
                background-image: url(../imagenes/wrench-sunglo.png);
                background-size: 20px 20px;
                background-repeat: no-repeat;
                padding-left: 30px;
                margin-bottom: 15px;
            }

    /*### FIN MAIN ###*/
    /*### FOOTER ###*/
        footer {
            height: 110px;
        }
        footer, footer nav{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center; /* centrado horizaontal */
            align-items: center;
        }

        footer a{
            text-decoration:none;
            padding: 10px;
            color: #707070;
            transition: 200ms;
        }
        footer nav a:hover{
            color: #E16D65;
        }

        footer a img{
            width: 20px;
            opacity: .5;
        }
        footer a img:hover{
            opacity: 1;
        }


    /*### FIN FOOTER ###*/
